.section1 {
    background-image: url(../../coding-school-revision-1/images/banner1.jpg);
}

// NAVBAR //
nav {
    display: flex;
}

.leftul {
    float: left;
}

.rightul {
    float: right;
}

.linavbar {
    display: inline-block;
}

#logonavbar {
    padding-left: 185px;
}
