.section7 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../coding-school-revision-1/images/footer_background.jpg);
    background-size: auto,cover;
}

// col4 de gauche

.ulfooterleft {
    list-style: none;
}

.lifooterleft {
    display: inline-block;
}

.iconfooter {
    font-size: 200%;
}
