.section4 {
    background-image: url(../../coding-school-revision-1/images/main_bg.jpg);
}

// div du menu //

.menu {
    background-color: white;
    position: relative;
    border: gray solid 1px;
}

.languetteright {
    position: absolute;
    right: 0;
    padding-right: 12px;
}

// Reservation //

.reservation {
    background-image: url(../../coding-school-revision-1/images/book_table_bg.jpg);
    background-size: 100%;
    border-radius: 15px;
    margin: auto;
}

.selection {
    margin: auto;
}

.form-control {
    border: $border;
}
