.section1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../coding-school-revision-1/images/banner1.jpg);
    background-size: auto,cover;
}

// NAVBAR //
.ulnav {
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;

    .nav-item {
        &:hover {
            background-color: $primary;
            color: white;
        }
    }
}

// Paragraphe//

.p {
    text-align: center;
    padding-top: 200px;
    font-family: 'Satisfy', cursive;
    font-size: 300%;
    color: white;
    padding: 0;
}

.span1 {
    color: tomato;
    font-size: 80px;
}

.span2 {
    font-size: 60px;
}

.span3 {
    font-size: 60px;
}

// ul de fin //

.ulend {
    text-align: center;
    padding-bottom: 200px;
    margin-bottom: 0;
}

.liend {
    display: inline-block;
    margin: 30px;
    background-color: tomato;
    padding: 15px;
    border-radius: 15px;
    border: solid tomato 3px;
}

.liend:hover {
    background-color: white;

    #aend {
        color: tomato;
    }
}

#aend {
    text-decoration-line: none;
    color: white;
}

// 3 bouboules //

.petitbouton {
    border-radius: 100%;
}
