.section3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../coding-school-revision-1/images/team_background.jpg);
    background-size: auto,cover;
}

.chef {
    border-bottom-width: 2px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}
