.section6 {
    background-image: url(../../coding-school-revision-1/images/main_bg.jpg);
}

.colcontact {
    background-color: tomato;
    border-radius: 15px;
}

.ulcontact {
    list-style: none;
}

.licontact {
    border-bottom: solid white 2px;
}

.iconcontact {
    font-size: 250%;
}
