.section2 {
    background-image: url(../../coding-school-revision-1/images/main_bg.jpg);
}

// div du menu //

.menu {
    background-color: white;
    position: relative;
    border: gray solid 1px;
}

.languetteright {
    position: absolute;
    right: 0;
    padding-right: 12px;
}

// Story//

.titrestoryetmenu {
    font-family: 'Satisfy', cursive;
    font-size: 200%;
    text-align: center;
    color: black;
    margin: 0;
}

.our {
    color: tomato;
    font-size: 150%;
}

.cloche {
    padding-bottom: 50px;
}

.storypara {
    color: black;
    font-family: 'Satisfy', cursive;
    text-justify: auto;
    margin-left: 300px;
    margin-right: 300px;
}

// Menu //
